# Get the aliases and functions
if [ -f ~/.bashrc ]; then
  . ~/.bashrc
fi

[[ -s "$HOME/.profile" ]] && source "$HOME/.profile"

for f in ~/.shell/*; do source $f; done
for f in ~/.shell_*/*; do source $f; done
