#! /bin/bash
# Install packages after

{{- if eq .chezmoi.os "darwin" }}

set -e

# MacOS build version: {{ output "sw_vers" "--buildVersion" }}
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

brew bundle install --file ~/.Brewfile
{{- end }}
